<script>
  import { radar, balance } from "../../store/radar";
  import Sector from "./Sector.svelte";
  import { handleRadar } from "../../utils/radar";
  import { fade } from "svelte/transition";
</script>
<div class="radar">
  <div class="topBar">
    <div class="title">РАДАР</div>
    <div class="subtitle">Дизбаланс: {$balance}</div>
  </div>
  <svg viewBox="-115 -110 230 220" use:handleRadar in:fade>
    {#each $radar as data, direction (data.id)}
      <Sector {data} {direction}/>
    {/each}
  </svg>
</div>

<style>
  .radar {
    height: 100%;
    width: 100%;
    padding-bottom: var(--panel-height);
    background: var(--primary-background);
    user-select: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  svg {
    height: 100%;
  }

  .topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }
  .title {
    font-size: 24px;
  }
  .subtitle {
    font-size: 16px;
    color: #5a9ed9;
  }
  @media only screen and (min-width: 720px) {
    .radar {
     padding-bottom:16px;
    }
  }
</style>