<script>
  import { getHexCorner } from "../../utils/radar";
  export let data;
  export let direction;

  const grid = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1];

  const flip = direction === 2 || direction === 1;
</script>
{#each grid as gridValue, i}
  <polygon
    points={`${getHexCorner(gridValue * 10, direction)}, ${getHexCorner(gridValue * 10, direction + 1)}, 0, 0`}
    strokeLinejoin="miter-clip"
    stroke-dasharray="4"
    stroke-width="0.5"
    style={`fill:${data.value >= gridValue ? `var(--${data.id}-color)` : '#F2F4F5'}`}
    name={data.id}
    value={gridValue} />
{/each}

<g
  transform={`translate(${getHexCorner(105, flip ? direction + 1 : direction)}) rotate(${direction * 60 + (flip ? -90 : 90)})`}>
  <text x="50" y={flip ? 5 : 0} text-anchor="middle">
    {data.name}
  </text>
  <text x="50" y={flip ? 18 : -10} text-anchor="middle" class="value">
    {data.value}
  </text>

</g>

<style>
  polygon {
    fill: #f2f4f5;
    stroke: #424a54;
  }
  text {
    font-size: 8px;
    fill: var(--primary-text);
  }
  .value {
    font-weight: bold;
    font-size: 12px;
  }
</style>
