<script>
  export let segment;
</script>

<style>
  :global(html) {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  :global(body) {
    overscroll-behavior: none;
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    --panel-height: 60px;
    --primary-background: #f2f4f5;
    --color-blue: #3399ff;
    --text-color-1: #dafdfd;
    --text-color-2: #6d767e;
    --text-color-3: #424243;

    --hobby-color: #7c3f7a;
    --friendship-color: #5c6bc0;
    --health-color: #edb903;
    --job-color: #e16838;
    --love-color: #e23f45;
    --money-color: #469573;

    
  }
  :global(#sapper) {
    height: 100%;
    display: flex;
    flex-direction: column;
    overscroll-behavior: none;
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  @media only screen and (min-width: 720px) {
    :global(#sapper) {
      flex-direction: row;
    }
  }
</style>

<slot />
