<script>
import {fade} from 'svelte/transition';
import drag from "../../utils/drag.js";
import {showAll} from '../../store/todo'
export let isOpen;
</script>
<div class="handleCOntainer" use:drag on:dragstart on:dragend on:dragmove>
  <div class="handle" >
    <div class='handler'></div>
  </div>
  <div class="titleContainer">
    <div class="title">План</div>
    {#if isOpen}
      <button class="toggleAll" type="button" on:click={showAll.toggle} transition:fade>{$showAll ? 'СКРЫТЬ АРХИВНЫЕ':'ПОКАЗАТЬ ВСЕ'}</button>
    {/if}
    </div>
</div>
<style>
  .toggleAll {
    background: none;
    outline: none;
    border: none;
    color: var(--text-color-1);
    cursor: pointer;
  }
  .titleContainer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 16px 8px 16px;
    border-bottom: 1px solid rgba(218, 253, 253, 0.2);
  }
  .handleCOntainer {
    cursor: pointer;
  }
  .handle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
  }
  .handler {
    width: 50px;
    background: rgba(218, 253, 253, 0.5);
    height: 2px;
  }
  .title {
    font-size: 24px;
    user-select: none;
  }
  @media only screen and (min-width: 720px) {
    .handle {
     display:none;
    }
    .titleContainer{
      padding-top:8px;
    }
  }
</style>