<script>
  import { fly } from "svelte/transition";
  import Handle from "./Handle.svelte";
  import TodoList from "../TodoList/TodoList.svelte";

  let isOpen = false;
  let dy = 0;
  let y = 0;
  let windowWidth = 0;
  $: isOpen = windowWidth > 720

  const handleDragMove = ({ detail }) => {
    if(windowWidth > 720) return;
    y = detail.y;
    dy = detail.dy;
  };
  const handleDragEnd = ({ detail }) => {
    if(windowWidth > 720) return;
    if (detail.dy < -20) {
      isOpen = true;
    } else if (detail.dy > 20) {
      isOpen = false;
    }
    y = 0;
    dy = 0;
  };
  
</script>
<svelte:window bind:innerWidth={windowWidth}/>
<div class="plan" class:isOpen class:isDragging={dy} style={dy ? `top: ${y + dy}px`: ''}>
    <Handle on:dragmove={handleDragMove} on:dragend={handleDragEnd} {isOpen}/>
  {#if isOpen}
  <div class='todoList' transition:fly>
    <TodoList/>
  </div>
  {/if}
</div>

<style>
  .plan {
    transition: top 0.3s ease-in-out;
    color: var(--text-color-1);
    position: fixed;
    top: calc(100% - var(--panel-height));
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      180deg,
      var(--color-blue) 0%,
      rgba(47, 192, 255, 0.7) 100%
    );
    border-radius: 0px 50px 0px 0px;
    display: flex;
    flex-direction: column;
  }
  .isOpen {
    top: var(--panel-height);
  }

  .isDragging {
    transition: none;
  }
  .todoList {
    overflow: auto;
    flex-grow: 1;
    min-height: 0;
    -webkit-overflow-scrolling: touch;
  }
  @media only screen and (min-width: 720px) {
    .plan {
      position: relative;
      width: 100%;
      top:0;
      border-radius:0;
    }
  }
</style>