<script>
import { editTodo } from "../../store/todo";
</script>
<div class="actionBar">
    <div class="container">
        <button type="button" class="delete" on:click={editTodo.delete}>УДАЛИТЬ</button>
        <button type="button" on:click={editTodo.save}>ОК</button>
    </div>
</div>

<style>
  button {
    background: none;
    outline: none;
    font-size: 14px;
    background: var(--color-blue);
    color: white;
    padding: 4px 8px;
    border-radius: 8px;
    border-color: var(--color-blue);
    min-width: 80px;
  }
  .delete {
    color: var(--color-blue);
    background: none;

    margin-right: 16px;
  }
  .actionBar {
    width: 100%;
  }
  .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top:8px;
  }
</style>