<script>
import ActionBar from "./ActionBar.svelte";
import { editTodo } from "../../store/todo";
export let value = null;
</script>
<div class='container'>
	<input type="text" class='newToDo' autofocus value={$editTodo.text}
  on:change={editTodo.change}
  placeholder="Что нужно сделать?"/>
  <ActionBar/>
</div>

<style>
  .newToDo {
    border: none;
    border-bottom: 1px solid var(--color-blue);
    width: 100%;
    outline: none;
    font-size: 16px;
  }
  .container {
    padding-left: 28px;
    padding-right: 8px;
  }
</style>