<script>
import { fade } from "svelte/transition";
import EditTodo from "./EditTodo.svelte";
import nanoid from "nanoid";
import { todo, editTodo } from "../../store/todo";
export let data = {};
const id = nanoid();
</script>

{#if data.id === $editTodo.id}
  <EditTodo/>
{:else}
  <div class='todo' style={`opacity: ${data.opacity}`} class:complete={data.complete}>
    <input {id} type="checkbox" checked={data.complete} on:change={()=>todo.toggle(data.id)}/>
    <label for={id} >

    <div class="checkboxMark">
      {#if data.complete}
        <div class='mark' />
      {/if}
    </div>
    </label>
    <div class='todoText' on:click={()=>editTodo.start(data.id)}>{data.text}</div>
  </div>
{/if}



<style>
  .todo {
    color: var(--text-color-3);
    display: flex;
    align-items: center;
    padding: 8px 0px;
  }
  .checkboxMark {
    width: 16px;
    height: 16px;
    border: 2px solid var(--text-color-2);
    border-radius: 50%;
    margin-right: 8px;
  }
  .mark {
    content: "";
    width: 16px;
    height: 5px;
    position: relative;
    top: 0px;
    left: 3px;
    border-bottom: 2px solid var(--color-blue);
    border-left: 2px solid var(--color-blue);
    transform: rotate(-45deg);
  }
  input:checked ~ label .checkboxMark {
    border-color: var(--color-blue);
  }
  input:checked ~ .todo {
    color: var(--color-blue);
  }

  input {
    display: none;
  }
  .todoText {
    flex-grow: 1;
    min-height: 20px;
  }
  .complete {
    color: var(--color-blue);
  }
</style>