<script>
  import Todo from "./Todo.svelte";
  import EditTodo from "./EditTodo.svelte";
  import { todo, editTodo } from "../../store/todo";
  export let data = {};
</script>
<div class="todoGroup">
	<div class='label' style={`background: var(--${data.id}-color);`}>{data.name}</div>
	
  {#if !$editTodo.id && !$editTodo.groupId}
    <button class="addButton" on:click={()=>editTodo.new(data.id)}>+</button>
  {/if}
  {#if $editTodo.groupId === data.id}
    <EditTodo/>
  {/if}
  {#each data.todo as todo, index (todo.id)}
    <Todo data={todo} />
  {/each}
</div>

<style>
  .todoGroup {
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    position: relative;
    padding: 32px 8px 16px 8px;
    margin: 16px 8px 16px 8px;
  }
  .label {
    position: absolute;
    top: -8px;
    left: 8px;
    border-radius: 8px;
    padding: 4px 8px;
    color: white;
  }
  .addButton {
    position: absolute;
    right: 4px;
    top: 0px;
    font-size: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    color: var(--text-color-3);
  }
  .addButton:hover {
    color: var(--color-blue);
  }
</style>