<script>
import TodoGroup from "./TodoGroup.svelte";
import { todoGroups } from "../../store/todo";
</script>
<div>
    {#each $todoGroups as group, index (group.id)}
        <TodoGroup data={group}/>
    {/each}
</div>

